
* { margin:0; 	padding: 0; }

body {
	margin: 0; padding: 0;
	font: 70%/1.5em  Verdana, Tahoma, Arial,sans-serif;
	color: #333; 
	text-align: center; 
        background: #FFF url(bg.gif) repeat-x;
        
}

/* links */
a {
    color: #F90000; 
    background-color: inherit;
    text-decoration: none;
}
a:hover {
    color: #575757;
    background-color: inherit;
}

/* headers */
h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Sans-serif;
    font-weight: Bold; 		
}
h1 {
    font-size: 145%;	
    padding: 10px 10px 5px 10px;
    color: #000000;
    background-color: inherit;
    border-bottom: 1px solid #EFF0F1;		
}
h2 {
    font-size: 125%;
    text-transform: uppercase;
}
h3 {
    font-size: 125%;	
    color: #404040;
}
h4 {
    font-size: 100%;	
    padding: 10px 10px 5px 10px;
    color: #000000;
    background-color: inherit;
    border-bottom: 1px solid #EFF0F1;	
    text-transform: uppercase; 
}

h2, h3, h4, p {
    padding: 10px;		
    margin: 0;
}

/* images */
img {
    border: 3px solid #D5D5D5;
}
img.float-right {
    margin: 5px 0px 5px 10px;  
}
img.float-left {
    margin: 5px 10px 5px 0px;
}

#sidebar h1, 
#sidebar p {
    padding-left: 0;
}

ul, ol {
    margin: 10px 20px;
    padding: 0 20px;
}

code {
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;  
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;  
    border-left: 4px solid #FF0000;
}
acronym {
    cursor: help;
    border-bottom: 1px solid #777;
}
blockquote {
    margin: 10px;
    padding: 0 0 0 32px;  	
    background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important; 
    background-position: 8px 10px;
    border: 1px solid #f2f2f2; 
    border-left: 4px solid #FF0000;   
}
div.mysearch{
    margin: 0 auto;
    width: 90%;
    color: black;
    background-color: #eee;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Sans-serif;
    font-weight: Bold; 
    font-size: 13px;
   
}
/* form elements */
form {
    margin:10px; padding: 5px;
    border: 1px solid #f2f2f2; 
    background-color: #FAFAFA; 
}
label {
    display:block;
    margin:5px 0;
}
input {
    padding: 3px;
    border:1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color:#777;
}
textarea {
    width:180px;
    padding:3px;
    font: normal 1em Verdana, sans-serif;
    border:1px solid #eee;
    height:40px;
    display:block;
    color:#777;
}
input.button { 
    margin: 0; 
    font: bolder 12px Verdana, Sans-serif; 
    border: 1px solid #CCC; 
    padding: 2px 3px; 
    background: #FFF;
    color: #db5d4f;
    height: 25px;
}
/* search form */
form.search {
    position: absolute;
    top: 15px; right: 5px;
    padding: 0; margin: 0;
    border: none;
    background-color: transparent; 
    height: 25px;
}
form.search input.textbox { 
    margin: 0; 
    width: 165px;
    border: 1px solid #CCC; 
    background: #FFF;
    color: #333; 	
    vertical-align: top;
    height: 16px;
}
form.search input.button {
    width: 60px;
    vertical-align: top;
    height: 25px;

}


/**************************************
   LAYOUT 
***************************************/	
#wrap {
    margin: 0 auto; 
    padding: 0; 
    width: 850px;
    text-align: left;
}

/* header */
#header { 
    position: relative;
    height: 100px; 
    margin: 0; padding: 0;
    color: #808080; 		
}
#header h1#logo {
    position: absolute;	
    font: bold 3.9em "trebuchet MS", Arial, Tahoma, Sans-Serif;
    margin: 0; padding:0;
    color: #000000;
    letter-spacing: -2px;	
    border: none;	

    /* change the values of top and Left to adjust the position of the logo*/
    top: 0; left: 2px;		
}
#header h1#logo span { color: #FF0000; }

#header h2#slogan { 
    position: absolute;
    margin: 0; padding: 0;	
    font: bold 16px Arial, Tahoma, Sans-Serif;	
    text-transform: none;

    /* change the values of top and Left to adjust the position of the slogan*/
    top: 73px; left: 70px;
}

/* menu */
#menu {
    clear: both;
    background: #FF0000 url(menubg.gif) repeat-x;
    height: 30px;
    margin: 0;
    width: 100%;
    font: bolder 1.2em/30px Tahoma, Verdana, Arial, Sans-Serif;		
}
#menu ul{
    margin: 0; padding: 0 0 0 8px; width: 100%; float: left;
}
#menu ul li {
    float: left;
    list-style: none;		
    border-right: 1px solid #FF0000;
}
#menu ul li a {
    display: block;
    text-decoration: none;	
    padding: 0 15px;
    color: #FFF;	
}
#menu ul li a:hover {
    color: #333;	
    background: url(menu-hover-bg.gif) repeat-x;
}
#menu ul li#current a {
    color: #333;
    background: url(menu-current-bg.gif) repeat-x;	
}

/* sidebar */
#sidebar {
    float: left;
    width: 27%; 
    margin: 0;	padding: 0; 
    display: inline;
}
#sidebar ul.sidemenu {
    /*list-style: none;
    text-align: left;
    margin: 0 0 7px 0; padding: 0;
    text-decoration: none;	
    */
        margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;  
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;  
    border-left: 4px solid #FF0000;
}
#sidebar ul.sidemenu li {
   border-bottom: 4px solid #EFF0F1;
    background: url(arrow.gif) no-repeat 3px 23px;	
    padding: 20px 0px 20px 20px;
    font-size: 12px;
}

* html body #sidebar ul.sidemenu li { height: 5%; }

#sidebar ul.sidemenu li a {
    font-weight: bolder;
    background-image: none;
    text-decoration: none;	
}

#rightbar {
    float: right;
    width: 33%;
    padding: 0;
    margin: 0; 			
}

/* main column */
#wside {
    float: right;
    margin: 0 0 0 0;
    padding: 0;
    width: 73%;	
}

#main {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    width: 65%;	
}
#mainpage {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;	
}

.post-footer {
/*    background-color: #FAFAFA;*/
    padding: 5px; margin: 15px 10px 10px 10px;
    border: 1px solid #f2f2f2; 
    font-size: 95%;
}
.post-footer .date {
/*    background: url(clock.gif) no-repeat left center;*/
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
/*    background: url(comment.gif) no-repeat left center;*/
    padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
/*    background: url(page.gif) no-repeat left center;*/
    padding-left: 20px; margin: 0 10px 0 5px;
}

/* footer */
#footer { 
    clear: both; 	
    color: #666666; 	
    padding: 0;	 
   /* background: #FFF url(footerbg.gif) repeat-x;*/
    height: 60px
}
#footer a { 
    text-decoration: none; 
    font-weight: bold;
}
#footer-content {
    margin: 0 auto;
    width: 800px;
}
#footer-content #footer-left {
    padding: 10px;
    width: 60%;
    float: left;
    text-align: left;
}
#footer-content #footer-right {
    padding: 10px;
    width: 33%;
    float: right;
    text-align: right;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear  { clear: both; }
.green  { color: #000000; }

